*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face
{
    font-family: airside;
    src: url(../fonts/AirsideSans.ttf);
}
@font-face
{
    font-family: centuryGothic;
    src: url(../fonts/centuryGothic.ttf);
}
@font-face
{
    font-family: FjallaOne;
    src: url(../fonts/FjallaOne.ttf);
}
/* General CSS settings */
:root
{
    --primary: #f4b233;
    --secondary: #f4f4f4;
}
#loading 
{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background-color: rgba(192, 192, 192, 0.5);
    background-image: url("https://i.stack.imgur.com/MnyxU.gif");
    background-repeat: no-repeat;
    background-position: center;
}
.bg-primary
{
    background-color: var(--primary) !important;
}

html
{
    scroll-behavior: smooth;
}
a:hover
{
    text-decoration: none;
}
ul
{
    margin-bottom: 0;
    margin-top: 0;
}
li
{
    list-style-type: none;
}
li:hover
{
    border-bottom: 3px solid #fff;
}

#p-tag-value input[type="text"], #cart-counter[type="text"]
{
    color: #000000;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
}
#first input[type="button"]
{
    width: 80px;
    height: 80px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    background-color: #fff;
    font-size: 50px;
    transition: 0.3s;
    border: 0;
}
#first input[type="button"]:hover
{
    color: #fff;
    background-color: #000000;
}

.font-fjalla
{
    font-family: FjallaOne;
}
.font-airside
{
    font-family: airside;
}
.border-right
{
    border-right: 3px solid #bababa !important;
}
.border-left
{
    border-left: 3px solid #bababa !important;
}
.text-primary
{
    color: var(--primary) !important;
}
.bg-secondary
{
    background-color: var(--secondary) !important;
}
#slider img
{
    width:  100%;
    object-fit: cover;
}
.cursor
{
    cursor: url(../img/cursor-beer.png), auto;
}
.offset-sm-1
{
    margin-left: -0.667%;
}
.no-close .ui-dialog-titlebar-close 
{
    display: none;
}
/* End of general */

/* header tag */
header
{
    transition: 0.2s ease-in-out;
    z-index: 99;
    height: 90px;
    font-size: 32px;
    /* height: 63px; */
    /* font-size: 24px; */
    font-family: airside;
    letter-spacing: 2px;
}
#logo-src
{
    transition: 0.2s ease-in-out;
}
header .row
{
    margin-right: 0 !important;
    margin-left: 0 !important;
}
nav a
{
    color: #fff;
}
nav a:hover
{
    color: var(--primary);
}
.border-bot
{
    border-bottom: 3px solid #fff;
}
.active
{
    color: var(--primary);
}
#hamburger button
{
    float: right;
}
#hamburger button.btn.btn-primary
{
    background-color: var(--primary);
    border-color: var(--primary);
}
#hamburger button.btn.btn-primary:hover
{
    background-color: #f8a100;
    
}
#hamburger button.btn-primary:focus
{
    border-color: var(--primary);
    box-shadow: 0 0 0 .2rem rgba(255, 173, 18, 0.5);
}
#hamburger button i
{
    transition: 0.6s;
    font-size: 40px;
}

.side-nav
{
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 90px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.4);
    transition: 0.2s;
}
.nav-content
{
    transition: 0.3s;
    float: right;
    height: 100vh;
    background-color: #fefefe;
    margin-right: -350px;
    padding: 20px;
    width: 45%;
}
/* END HEADER */

/* Slider and Beer counter */
#home
{
    background-color: var(--secondary);
}
#home.pt-5
{
    padding-top: 6.5rem !important;
}
#home.container-fluid
{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.shadow-lg
{
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.7) !important;
}
.roundend
{
    border-radius: 0.3rem;
}


#counter
{
    width: 100%;
    text-transform: uppercase;
    font-family: airside;
}
#counter .h1
{
    font-size: 3.5rem;
}
#p-tag-value
{
    height: 117px; /* ZATO STO SE KLIKOM GUBI INPUT TYPE POLJE KOJE JE 1Px, inicijalno visina ovog taga je 116px */
}
/* End Slider and Beer counter */

/* TITLE I OPIS */
#title > .row
{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
#title > .row > .w-100 >.h1
{
    font-size: 3.5rem;
}
.p-font-size
{
    font-size: 23px;
}
#title-description
{
    display: contents;
}
/* KRAJ */


/* PARALLAX DIV */
#parallax
{
    height: 300px;
    background: url(../img/piva1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#parallax-h3
{
    width: 95%;
}
#search
{
    position: relative;
    top: 48%;
    left: 20%;
    /* margin-top: 38%; */
    height: 60px;
    width: 60%;
    padding: 31px;
    font-family: FjallaOne;
    font-size: 2.2rem;
    color: rgba(0,0,0, 0.6);
    border-radius: 30px;
    border: 0;
    box-shadow: 2px 2px 20px #000;
}
#parallax > .h1
{
    font-size: 5rem;
}
.hover, .p-translate
{
    transition: 0.6s;
}
#quotes
{
    height: auto;
}

#quotes.h1
{
    margin-bottom: -1rem;
}
/* PARALLAX DIV END */

/*Store*/
#clear-filter:hover
{
    cursor: pointer;
    color: var(--primary);
}

#container-store h4.border-bottom
{
    border-bottom: 3px solid var(--primary) !important;
}
#container-store h4.h1
{
    margin-top: 3rem !important;
    font-size: 3.5rem !important;
}

#store .border
{
    border: 2px solid var(--primary) !important;
}
#store .border .border-bottom
{
    border-bottom: 2px solid var(--primary) !important;
}
#store.row
{
    margin-left: 0;
    margin-right: 0;
}
.btn-warning
{
    background-color: #f4b233;
    font-size: 1.2rem;
}
/* Gallery */
.carousel-item .border
{
    border: 8px solid #fff !important;
}
h5.border-bottom
{
    border-bottom: 3px solid #fff !important;
}
#galerija.w-50
{
    width: 41% !important;
}
/*  Contact   */
#contact
{
    background-image: url(../img/form-bg1.jpg);
    background-repeat: no-repeat;
    background-position: top;
}
.error
{
    color: #007bff;
}
.font-size
{
    font-size: 1.2rem;
}

form p
{
    margin-bottom: 0;
}

/* The Modal (background) */
.modal 
{
    display: none;
    position: fixed;
    z-index: 99; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
  
.modal-content 
{
background-color: #fefefe;
margin: auto;
padding: 20px;
border: 1px solid #888;
width: 80%;
}

/* The Close Button */
.close {
color: #aaaaaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}
.text-blue
{
    color: #0069d9;
}
#message li:hover
{
    border-bottom: 0 solid;
}

/* Contact end */

/*Useful links*/
#contacts .border-bottom
{
    border-bottom: 3px solid #000 !important;
}
#right
{
    display: grid;
}
#right i 
{
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    border-radius: 10%;
    background-color: #fff;
    margin-bottom: 0.5rem;
}

footer
{
    height: 75px;
}
#dokumentacija.text-primary:hover
{
    color: #fff !important;
}
#about-author.modal
{
    padding-top: 35px;
    overflow: unset;
}
#about-author .modal-content
{
    height: 90vh;
    overflow-y: auto;
}
.table-responsive
{
    overflow-x: unset;
}






.form-select
{
    display: block;
    width: 100%;
    padding: .375rem 2.25rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 7px;
}
.font-store
{
    font-size: 1.9vw;
}

.kolicina.btn
{
    padding: 0.45rem;
    margin-left: 1px;
}
@media screen and (max-width: 860px)
{
    #quotes.h1
    {
        font-size: 1.5rem;
    }
    .font-store
    {
        font-size: 2.2vw;
    }
}
@media screen and (max-width: 750px)
{
    .font-store
    {
        font-size: 3.2vw;
    }
}
@media screen and (max-width: 736px)
{
    form.m-auto
    {
        margin: 0 !important;
    }
    form.w-50
    {
        width: 95% !important;
        margin-left: auto !important;
    }
    #table1.h4
    {
        font-size: 1.3rem;
    }
    #right .h3
    {
        font-size: 1.35rem;
    }
    #cart-and-filter.h5
    {
        font-size: 1rem;
    }
    #cart-and-filter.w-50
    {
        width: 100% !important;
    }
    h4.w-50
    {
        width: 100% !important;
    }
}
@media screen and (max-width: 493px)
{
    #parallax-h3.h1
    {
        font-size: 3.5rem;
    }
    #search
    {
        left: 10%;
        width: 75%;
        font-size: 1.5rem;
    }
    #contacts .h2
    {
        font-size: 1.4rem;
    }
    #contacts .w-75
    {
        width: 100% !important;
    }
    #table1.table-responsive
    {
        overflow-x: unset;
    }
    #table1.h4
    {
        font-size: 1.2rem;
    }
    #about-author .w-50
    {   
        width: 100% !important;
    }
    #about-author .h5
    {
        font-size: 0.9rem;
    }
    #show-more.h4
    {
        font-size: 1.4rem;
    }
    .font-store
    {
        font-size: 5.5vw;
    }
}
@media screen and (max-width: 696px)
{
    #add-to-cart .modal-content
    {
        width: 100%;
    }

}
@media screen and (max-width: 560px)
{
    #korpaTabela
    {
        font-size: 0.8rem;
    }
    .table th, .table td
    {
        padding: 0;
        vertical-align: middle;
    }
    .remove
    {
        font-size: 0.6rem;
    }
}
@media screen and (max-width: 420px)
{
    .w-75
    {
        width: 100%;
    }
    .p-font-size 
    {
        font-size: 21px;
    }
    #beer-choice .h1
    {
        margin-bottom: 0;
        font-size: 1.2rem;
    }
    #title > .row > .w-100 > .h1
    {
        font-size: 2rem;
    }
    .modal-content
    {
        width: 100%;
    }
    #message
    {
        font-size: 1rem;
    }
}
@media screen and (max-width: 390px)
{
    .p-font-size
    {
        font-size: 16px;
    }
    .text-left.p-font-size
    {
        text-align: justify !important;
        text-justify: distribute;
    }
    h2
    {
        font-size: 1.7rem;
    }
    .ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-draggable 
    {
        max-width: 80vw !important;
    }
}
@media screen and (max-width: 360px)
{
    .table th, .table td
    {
        font-size: 10px;
    }
}
@media screen and (max-width: 310px)
{
    #parallax-h3
    {
        width: 90%;
    }
    #table1.h4
    {
        font-size: 1rem;
    }
}
/* canvas
{
    border: 3px solid #000;
    margin: auto;
}

.canvas .row
{
    margin-right: 0;
} */